body{
	margin:0;
	color:black;
	background-image:url("image/pp.jpg");
    font:600 16px/18px 'Open Sans',sans-serif;
    background-color: blanchedalmond;
}
/* 
.row > col-md-6{
  text-align:center;
}
.row > col-md-12{
  text-align:center;
}
.row > col-xs-9{
  text-align: center;
} */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
   
  text-align:left;
  width:600%;
  margin-top:100px;
}
.button{
  text-align: center;
}